@* @page
@model PizzaritoShop.Pages.Admin.IndexModel
@{
}

<h2>Assign Role to User</h2>

<form method="post">
    <label for="SelectedUserId">Select User:</label>
    <select name="SelectedUserId" id="SelectedUserId" asp-for="SelectedUserId">
        @foreach (var user in Model.Users)
        {
            <option value="@user.Id">@user.UserName</option>
        }
    </select>

    <label for="SelectedRole">Select Role:</label>
    <select name="SelectedRole" id="SelectedRole" asp-for="SelectedRole">
        <option value="Admin">Admin</option>
        <option value="User">User</option>
    </select>

    <button type="submit">Assign Role</button>

</form>

 *@