@page
@model PizzaritoShop.Pages.Pizzas.CreateModel
@{
}

<h4>Add New Pizza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPizza.PizzaName" class="control-label"></label>
                <input asp-for="NewPizza.PizzaName" class="form-control" />
                <span asp-validation-for="NewPizza.PizzaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPizza.Price" class="control-label"></label>
                <input asp-for="NewPizza.Price" class="form-control" />
                <span asp-validation-for="NewPizza.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPizza.ImageTitle" class="control-label"></label>
                <input asp-for="NewPizza.ImageTitle" class="form-control" />
                <span asp-validation-for="NewPizza.ImageTitle" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>