html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.MyText {
    color: red;
    margin: 20px 0 50px 0;
}
.mainText{
    padding: 75px 20px;

}
.myDiv1{
    margin: 100px 0 20px 0;
    margin: 0;
}

.navbar {
    background-color: rgb(165, 10, 35); /* Change header background to desired color */
}

.nav-link {
    color: white !important; /* Ensure links are visible with a white color */
}

    .nav-link:hover {
        color: rgb(220, 220, 220) !important; /* Optional: Change link color on hover */
    }

    .custom-green-button 
    {
        background-color: green;
        color: white;
        border: none;

    }

    .custom-green-button:hover
    {
        background-color: darkgreen;
        

    }