@page
@model IndexModel
@{
    ViewData["Title"] = "About page";
}

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <h2 class="display-4">Welcome to Ahmed's Delicious Pizzaria</h2>
            <h3 class="MyText">Tastiest finger lickin pizza!</h3>
            <p>
                Hello! I'm Ahmed, a passionate software developer with a love for creating delicious experiences.
                My journey in the world of software development has been driven by my enthusiasm for building
                innovative applications that make everyday tasks easier and more enjoyable.
                This project, PizzaritoShop, combines my passion for food and technology, allowing me to
                share my favorite pizza recipes with you while providing a seamless online ordering experience.
            </p>
            <p>
                I believe that great food brings people together, and I am thrilled to offer you a customizable pizza
                experience that caters to your preferences. Thank you for visiting my site, and I hope you enjoy
                your time here!
            </p>
            <a class="btn btn-primary" asp-area="" asp-page="Custom/CustomPizza">CUSTOM PIZZA</a>
        </div>
        <div class="col-md-6 text-center">
            <img src="~/Images/CEO.png" alt="Ahmed's Photo" class="img-fluid rounded-circle" />
        </div>
    </div>
</div>


