@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Ahmed's Delicious Pizzaria'</h2>
    <h3 class="MyText">Tastiest finger lickin pizza!</h3>
        <a class="btn btn-primary" asp-area="" asp-page="Forms/CustomPizza" >CUSTOM PIZZA</a>
</div>



